<button (click)="createParent()">Create UserToProperty</button>
<input
  type="text"
  placeholder="id:"
  #name
  (input)="refreshFrontend(name.value)"
/>

<table>
  <tr>
    <th>Id</th>
  </tr>

  <tr *ngFor="let parent of parents">
    <td (dblclick)="updateParent(parent.id)">{{ parent.name }}</td>
    <td><button (click)="deleteParent(parent.id)">Delete</button></td>
  </tr>
</table>
<button (click)="createParentMany()">Create Many Parents</button>
<button (click)="logout()">Logout</button>
